// Colors
$black: #111;
$grey: #555;
$brandBlue: #144587;
$brandYellow: #ecd018;
$accentOrange: #e66210;
$accentPurple: #802dd4;
$accentGreen: #1ed510;
$accentBlue: #0070dd;

// Fonts
$font1: 'Montserrat', sans-serif;
$font2: 'Staatliches', cursive;
$font3: 'Raleway', sans-serif;
$font4: 'Lexend Deca', sans-serif;



// Tooling
$testBorder1: 5px dashed #59E259;
$testBorder2: 5px dashed red;