@import '_variables.scss';

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-size: 10px;
}

.content-box {
   margin: 1%;
}

#landing {
   height: 95vh;
   background: $brandBlue;
   border: 5px outset $brandYellow;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: $font1;
   h1 {
      color: $brandYellow;
      font-size: 12rem;
      font-weight: 900;
      line-height: 0.75em;
      border-bottom: 3px solid $black;
      padding-bottom: 30px;
   }
   p {
      padding-top: 30px;
      font-size: 2.5rem;
      font-weight: 700;
   }
}

#center {
   width: 50%;
}