@import '_variables.scss';

@mixin projectImage($image) {
   background: url($image);
   background-size: cover;
   background-position: center;
}

html {
   scroll-behavior: smooth;
}
* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body { 
   background: #fff;
   font-size: 10px;
   font-family: $font3;
   font-weight: 400;
}

#header {
   position: absolute;
   top: 0%;
   width: 100%;
   background: #252527;
   padding: 5px;
   text-align: center;
   border: 2px outset rgba(61, 61, 61, 0.7);
   a:link, a:visited {
      display: inline-block;
      color: #fff;
      font-weight: 500;
      text-decoration: none;
      margin: 0px 2.4px;
      padding: 0px 32px;
      font-size: 2.3em;
      font-family: $font1;
      transition: transform .3s;
      background: #252527;
   }
   a:hover {
      color: $accentOrange;
      transform: scale(1.02);
   }
   #info img {
      padding-right: 8px;
      position: relative;
      top: 5px;
   }
}

#landing {
   padding-top: 150px;
   padding-bottom: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   #center {
      width: 60%;
      text-align: center;
      transform: translateY(-10%);
   }

   #namebox {
      margin-top: 10%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding-bottom: 20px;
      #name {
         width: 70%;
         color: $black;
         font-family: $font1;
         font-size: 7vw;
         font-weight: 300;
         line-height: 0.79em;
         text-align: left;
         padding-left: 15px;
      }
      #logo {
         width: 13vw;
         height: auto;
         display: inline-block;
         background: $black;
         padding: 3.5% 1.5%;
      }
   }
   #personalBlurb {
      font-size: 1.5vw;
      color: #555;
      -webkit-text-stroke: 0.2px #222;
      border-top: $black 6px solid;
      padding-top: 20px;
      font-weight: 100;
      font-family: $font2;
   }
}

#skills {
   padding-top: 7%;
   display: flex;
   justify-content: center;
   color: $black;
   font-weight: 600;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   .skills-icon {
      height: auto;
      width: 25%;
      padding-bottom: 10%;
   }
   #design-graphic {
      height: auto;
      width: 50%;
   }
   #skills-top {
      background: #ecd018;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      padding: 5% 0% 14% 0%;
   border-top: 8px solid $black;
   }
   #skills-header{
      font-size: 3.5vw;
      width: 35%;
      text-align: center;
      font-weight: 500;
      padding-bottom: 0.5%;
      font-family: $font1;
      color: $black;
   }
   #skills-blurb {
      text-align: center;
      width: 40%;
      font-size: 1.3vw;
      padding-bottom: 20px;
      margin: 1% 0%;
      color: $grey;
      font-weight: 200;
      font-family: $font2;
   }
   #skills-group {
      width: 75%;
      display: grid;
      grid-template-columns: auto auto auto auto;
      background: #fafafa;
      border-radius: 30px;
      transform: translateY(-35%);
      border: 1px solid #E6ECF8;
      box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8;
      .skills-container {
         text-align: center;
         padding: 0px 25px;
         border-right: 1px solid #E6ECF8;
         height: 100%;
         padding: 15% 0%;
      }
      h2 {
         color: $black;
         font-family: $font2;
         font-weight: 300;
         font-size: 1.3vw;
         padding: 10px 25px;
      }
      ul {
         display: inline-block;
         line-height: 2em;
         font-size: 1vw;
         font-weight: 400;
         color: $grey;
         list-style: none;
      }
      #soft-skills {
         border-right: none;
      }
   }
}

#projects {
   display: flex;
   align-items: center;
   flex-direction: column;
   h1 {
      font-family: $font1;
      font-weight: 500;
      color: $black;
      font-size: 3vw;
      margin: 5% 0% 2% 0%;
      border-top: 1px solid $brandYellow;
      border-bottom: 2px solid $brandYellow;
      width: 30%;
      text-align: center;
   }
   #projects-bio {
      color: $grey;
      margin-bottom: 4%;
      font-size: 1.5rem;
      font-weight: 400;
      width: 50%;
      text-align: center;
      a:link {
         color: #111;
      }
      a:hover {
         color: $accentOrange;
      }
   }
   #project-sort {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      width: 65%;
      height: auto;
      margin-bottom: 10%;
      #murf-box {
         @include projectImage('../img/murf-logo.jpg');
      }
      #kris-box {
         @include projectImage('../img/kslogo.jpg');
      }
   }
   .project-box {
      position: relative;
      display: inline-block;
      width: 40%;
      height: auto;
      min-height: 300px;
      min-width: 400px;
      background-color: $grey;
      transition: .7s ease;
      margin: 1%;
      box-shadow: 0 0 5px rgba(0,0,0,0.7);
      border-radius: 20px;
      h2 {
         color: white;
         font-size: 1.5vw;
         position: absolute;
         left: 1%;
         bottom: 1%;
         transition: ease 0.8s;
         z-index: 1;
      }
      img {
         height: 100%;
         transform: translateX(25%);
         z-index: -99;
      }
   }
   .project-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .7s ease;
      background: rgba(66, 66, 66, 0.7);
      color: #fff;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      border-radius: 20px;
      box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
      .project-blurb {
         font-size: 1.2rem;
         font-weight: 800;
         p {
            transform: translateY(30%);
         }
      }
   }
   .project-box:hover .project-overlay {
      opacity: 1;
      transition: ease 0.7s;
      transform: translateY(-1px);
   }

   .project-box:hover{
      transform: translateY(-1px);
   }

   .project-box:hover h2 {
      opacity: 0;
   }
 
}

#footer {
   color: $black;
   font-size: 1rem;
   text-align: center;
   margin: -0.4% 0% 0.5% 0%;
}

// !Media Queries! //
// *Phone Scaling* //
@media only screen and (max-width: 600px) {
   #header {
      #info {
         a:link, a:visited {
            font-size: 3vw;
            border-left: none;
            border-right: none;
            padding-bottom: 4px;
            margin-top: 2px;
            }
         } 
      }
   }
@media only screen and (max-width: 600px) {
   #landing {
      #center {
         width: 80%;
         #personalBlurb {
            font-size: 2.5vw;
            margin-bottom: -10%;
         }
         #namebox {
            flex-flow: column nowrap;
            align-items: center;
            #name {
               font-size: 8vw;
               text-align: center;
               font-weight: 500;
               margin-top: 4%;
            }
            #logo {
               width: 16vw;
            }
         }
      }
   }
@media only screen and (max-width: 600px) {
   #projects {
      #projects-bio {
         font-size: 2.1vw;
         }
      }
   }
@media only screen and (max-width: 600px) {
   #skills {
      #skills-blurb {
         font-size: 1.6vw;
      }
      #skills-group {
         h2 {
            font-size: 2vw;
         }
         ul {
            font-size: 1.3vw;
         }
      }
   }
}
}