@import '_variables.scss';

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body { 
   background: #fff;
   font-size: 10px;
   font-family: $font1;
}

.content-box {
   margin: 0%;
}

#landing {
   height: 95vh;
   background: $brandBlue;
   border:3px solid $brandYellow;
   display: flex;
   justify-content: center;
   align-items: center;
   h1 {
      color: $brandYellow;
      font-size: 10rem;
      font-weight: 900;
      line-height: 0.75em;
      border-bottom: 7px outset $black;
      padding-bottom: 40px;
   }
   p {
      padding-top: 30px;
      font-size: 1.5rem;
      font-weight: 800;
      color: #fff;
   }
   #center {
   width: 50%;
   text-align: center;
   }
}

#header {
      a:link, a:visited {
      color: #fff;
      font-weight: 700;
      text-decoration: none;
      padding: 20px;
      font-size: 1.8rem;
   }
   a:hover {
      color: $accentOrange;
   }
   #jumps {
   position: absolute;
   top: 5%;
   left: 2%;
   }
   #info {
      line-height: 4em;
      position: absolute;
      top: 5%;
      right: 5%;
      img {
         padding-right: 8px;
         position: relative;
         top: 5px;
      }
   }
}

#skills {
   height: 50vh;
   color: $black;
   font-weight: 600;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   transform: translateY(5%);
   #skills-header{
      font-size: 3.4rem;
      color: $brandYellow;
   }
   #skills-blurb {
      text-align: center;
      width: 50%;
      font-size: 1.3rem;
      margin-bottom: 3%;
   }
   #skills-group {
      font-size: 1.2rem;
      width: 60%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      h2 {
         color: $brandYellow;
         font-weight: 900;
      }
      #front-end h2{
         border-left: $accentGreen 4px solid;
         padding-left: 10px;
      }
      #source-control h2{
         border-left: $accentBlue 4px solid;
         padding-left: 10px;
      }
      #uiux h2{
         border-left: $accentPurple 4px solid;
         padding-left: 10px;
      }
      #soft-skills h2{
         border-left: $accentOrange 4px solid;
         padding-left: 10px;
      }
   }
}
